<header>
    <div class="headerLogo">
      <div class="rectangleLogo"></div>
      <h1>National<br />Zoo</h1>
    </div>
    <div class="newAnimal">
      <a class="newAnimalText" href="/animals/new">Add to the zoo!</a>
    </div>
  </header>